body {
  font-family: helvetica;
}

hr.thick{
  height:4px;
  color:black;
  background-color: black;
  width:750px
}

hr.thin1{
  color:black;
  width:680px;
  margin-left:30px;
  margin-bottom:35px;
}

hr#thin2{
  color:black;
  width:450px;
  margin-top:35px;
  margin-right:15px;
}


.wrap{
  width:750px;
  margin: 0 auto;
}

h1 {
  text-transform:uppercase;
  text-align: center;
}


h3 {
  letter-spacing: 2px;
}

.text {
  font-family: georgia;
  font-size: 16px;
  line-height: 25px;
}

.link{
  text-align: center;
}

a {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color:black;
}

a.current:link, a.current:visited {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color:black;
}

#about {
  width:450px;
  float:left;
  margin-left:37px;
}

#experience {
  width:750px;
  margin:auto;
}

#portfolio{
  margin:auto;
}

.imgdp {
  padding:5px;
  border: 1px solid black;
  margin-left:37px;
}

.social{
  margin:30px;
  padding:10px;


}
